.burgerConstructor {
  box-sizing: border-box;
  width: 600px;
  height: 912px;
}

.components {
  flex-direction: column;
  height: 464px;
  overflow-y: scroll;
  padding: 0;
  margin: 0;
}

.components::-webkit-scrollbar {
  width: 8px;
  background: #2F2F37;
}
.components::-webkit-scrollbar-thumb {
  background: #8585AD;
  height: 292px;
}

.ingredient {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 568px;
}
.currencyBig {
  background-image: url(../../images/total.svg);
  width: 33px;
  height: 33px;
  margin-left: 9.5px;
}

.scoreRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}