.box {
  display: flex;
  align-items: center;
  position: relative;
  width: 272px;
  flex-wrap: wrap;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.itemName {
  width: 272px;
  height: 48px;
  text-align: center;
}