.column {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 180px;
}

.button {
  width: 196px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 144px;
}

.title {
  padding: 0;
  text-align: center;
}


.link {
  color: #4C4CFF;
  text-decoration: none;
}

.input {
  width: 100%;
}

.input div {
  width: 100%;
}