.main {
  display: flex;
  max-width: 100%;
  margin: auto;
  margin-left: 331px;
}

.editFrame {
  width: auto;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 122px;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  width: 320px;
  line-height: 64px;
  text-decoration: none;
}

.notice {
  opacity: .4;
  max-width: 320px;
}

.listElement {
  list-style-type: none;
}

.colorPrimary {
  color: inherit;
}
