.editFrame {
  width: 860px;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 120px;
  margin-left: 340px;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.inputsColumn {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 320px;
}

.inputsBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input > div > div {
  width: 480px;
}

.link {
  width: 320px;
  line-height: 64px;
  text-decoration: none;
}

.notice {
  opacity: .4;
}

.listElement {
  list-style-type: none;
}

.colorPrimary {
  color: inherit;
}

.buttonRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.buttonConfirm {
  width: 167px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.buttonCancel {
  margin-right: 20px;
}

.buttonCancel > button {
  padding: 16px 8px;
}