.inputColumn {
  border: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 24px;
}

.inputColumn > div > div {
  width: 480px;
}

.link {
  color: #4C4CFF;
  text-decoration: none;
}

.button {
  width: 167px;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.form {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 232px;
}

.title {
  padding: 0;
  text-align: center;
}

.column {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 180px;
}