
.container {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.burgerName {
  width: 100%;
}

.burgerStatusSuccess {
  width: 100%;
  color: var(--colors-interface-success);
}

.ingredientsHead {
  width: 100%;
}

.ingredientsColumns {
  list-style: none;
  width: 100%;
  max-width: 640px;
  margin: 0;
  padding: 0;
  max-height: 312px;
  overflow-y: scroll;
}

.ingredientsColumns::-webkit-scrollbar {
  width: 8px;
  background: #2F2F37;
}

.ingredientsColumns::-webkit-scrollbar-thumb {
  background: #8585AD;
  height: 194px;
}

.timeAndFullPrice {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.time {
  width: fit-content;
  height: auto;
  color: var(--text-inactive-color);
}

.priceRow {
  display: flex;
  align-items: center;
}

.fullPrice {
  margin-right: 9px;
}