
.header {
  display: flex;
  justify-content: center;
  background: var(--background);
}

.row {
  width: 1280px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}

.element {
  list-style-type: none;
  border-radius: 40px;
}

.element:nth-of-type(4) {
  margin-left: auto;
}

.link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
